*.mel
*.00*.ma
*.00*.mb
*_autosave_*.spp
.mayaSwatches/
/autosave
*.assbin
0_SubstancePainter/Punkbot.spp
0_SubstancePainter/RoboticaB.spp
0_SubstancePainter/RoboticaBBase.spp
0_SubstancePainter/settingsAreaTest.spp

0_SubstancePainter/Alphas/triHex.png
*.png
